@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  background-color: #000000;
  color: green;
  font-family: 'Inconsolata';
}

.booty {
  background-color: #000000;
}

#name {
  background-color: #000000;
  color: green;
}

pre {
    display: block;
    color: white;
    font-weight: bold;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000000;
    border: 0px;
    border-radius: 4px;
}

#secret-link {
  color: black;
}
